 .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
  }
  
  h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 2rem;
  }
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: center;
  }
  
  th {
    background-color: #e6e6e6;
    font-weight: bold;
  }
  
  img {
    max-width: 100px;
    height: auto;
  }
  
  @media screen and (max-width: 767px) {
    .container {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }